<h1>Result#create</h1>
<p>Find me in app/views/result/create.html.erb</p>

Result = {
  created: '24/09/2018,
  User_id: 1,
  assessment: {
    self-control skills: {
      adaptability: 8,
      assertiveness: 6,
      self-esteem: 6,
      stress management: 6
    },
    emotional skills: {
      emotion expression: 3,
      emotion management: 5,
      emotion perception: 3,
      emotion regulation: 4
    },
    social skills: {
      impulsiveness: 3,
      relationship skills: 6,
      social competence: 2,
      trait empathy: 8
    },
    well-being: {
      trait happiness: 9,
      trait optimism 9,
      self-motivation 8
    }
  }
}
